@require './config.styl'
@require './code.styl'
@require './typography.styl'

html, body
  padding 0
  margin 0
  background-color #fff

body
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size $fontSizeBase
  line-height 1.5
  color $textColor
  background-color #FFF

ul
  margin 0
  padding 0
  list-style none

.tac
  text-align center

.content__default
  h1
    margin 0
    line-height 2.5
    font-size $fontSizeLarge
    color $head2
    .header-anchor
      color inherit
    

  h2
    margin 0
    line-height 2.5
    font-size $fontSizeMedium
    color $head2
    .header-anchor
      color inherit

  p 
    font-size $fontSizeBase
    margin 0
    line-height 2